.button {
	background-color: #00B207;
	padding: 16px 40px;
	color: #fff;
	font-weight: 500;
	border-radius: 43px;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	position: relative;
}
.button:hover {
	background-color: #2C742F;
	top: 1px;
	box-shadow: 0px 4px 10px rgba(22, 99, 24, 0.32);
	transition: background-color 0.6s ease;
}
