@import url("reset.css");
@import url("button.css");
/* ============================================ */
body {
	font-family: "Poppins", sans-serif;
	color: #1A1A1A;
	font-size: 14px;
	line-height: 1.5;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: clip;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1350px;
	margin: 0 auto;
	padding: 0 15px;
}
 .header, .footer {
	padding: 30px 0;
	text-align: center;
	font-size: 36px;
	background-color: #999999;
 }
 .title {
	font-weight: 500;
	font-size: 24px;
}
/* ============================================ */
.information__inner {
	padding: 32px 0 80px;
}
.form {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.form__column {
	flex: 0 1 880px;
}
.form__column>*:not(:last-child) {
	margin-bottom: 16px;
}
.form__column>.form__title:not(:last-child) {
	margin-bottom: 20px;
}
.form__column>.form__group--line:not(:last-child) {
	margin-bottom: 32px;
	padding-bottom: 32px;
}
.form__group {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.form__item {
	flex-grow: 1;
}
.form__item--width {
	flex-basis: 280px;
	flex-grow: 0;
}
.form__label {
	margin-bottom: 8px;
}
.form__label span {
	color: #808080;
}
.form__input {
	border: 1px solid #e6e6e6;
	padding: 14px 16px;
	border-radius: 6px;
	height: 49px;
	transition: border 0.3s ease;
	line-height: 1.3;
	font-size: 16px;
}
.form__input:hover,
.form__textarea:hover,
.form__select:hover {
	border: 1px solid #00B207;
}
.form__input::placeholder {
	color: #999999;
	transition: opacity 0.3s ease;
}
.form__input:focus::placeholder {
	opacity: 0;
}
.form__select {
	display: flex;
	width: 100%;
	border: 1px solid #e6e6e6;
	padding: 14px 42px 14px 16px;
	color: #999999;
	font-size: 16px;
	font-family: "Poppins", sans-serif;
	height: 49px;
	border-radius: 6px;
	appearance: none;
	background: url("../img/arrow-grey.svg") right 16px center / 16px no-repeat;
	/* background-position: calc(100% - 16px); */
	transition: border 0.3s ease;
	line-height: 1.3;
}
.form__select:focus,
.form__input:focus,
.form__textarea:focus,
.form__btn:focus{
	outline: 2px solid #00B207;
}
.form__textarea {
	resize: vertical;
	min-height: 100px;
	padding: 16px;
	color: #1A1A1A;
	line-height: 1.3;
	border-radius: 6px;
	border: 1px solid #e6e6e6;
	transition: border 0.3s ease;
}
.form__textarea::placeholder {
	color: #999999;
	transition: opacity 0.3s ease;
	font-size: 16px;
}
.form__textarea:focus::placeholder {
	opacity: 0;
}
.checkbox {
	display: inline-flex;
	cursor: pointer;
}
.checkbox__label {
	display: flex;
	align-items: center;
	gap: 5px;
	color: #4d4d4d;
}
.checkbox__label::before {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 3px;
	border: 1px solid #e6e6e6;
	background-color: transparent;
	flex-shrink: 0;
	align-self: flex-start;
	transition: border 0.3s ease;
}
.checkbox__label:hover::before {
	border: 1px solid #00B207;
}
.checkbox__input {
	width: auto;
	width: 0;
	height: 0;
	opacity: 0;
}
.checkbox__input:checked + .checkbox__label::before {
	content: "";
	border: 1px solid #00B207;
	align-items: center;
	justify-content: center;
	display: flex;
	background: url("../img/arrow-grey.svg") center no-repeat;
}
.checkbox__input:focus-visible + .checkbox__label {
	outline: 2px solid #00B207;
	outline-offset: 2px;
	border-radius: 5px;
}
.form__group--line {
	border-bottom: 1px solid #e6e6e6;
}
.form__inner {
	display: flex;
	flex-direction: column;
	padding: 24px;
	border: 1px solid #E6E6E6;
	border-radius: 8px;
}
.form__inner>*:not(:last-child) {
	margin-bottom: 24px;
}
.form__column--left {
	flex-basis: 424px;
}
.form__btn:focus-visible {
	outline: 2px solid #00B207;
	outline-offset: 2px;
}
/* ============================================ */
.order__subtitle {
	color: #4d4d4d;
}
.order__subtitle--total {
	font-size: 16px;
}
.order__title {
	font-size: 20px;
}
.order__title:not(:last-child) {
	margin-bottom: 12px;
}
.order__group {
	display: flex;
	align-items: center;
	gap: 6px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.order__box {
	display: flex;
	flex-shrink: 1;
	align-items: center;
	gap: 5px;
}
.order__image {
	width: 60px;
	height: 60px;
}
.price {
	display: inline-flex;
	justify-content: flex-end;
	font-weight: 500;
}
.order__price {
	padding: 0 0 0 2px;
	flex-grow: 1;
}
.order__price span {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.2;
	padding: 0 0 0 2px;
}
.order__sort {
	transition: color 0.3s ease;
	padding-left: 2px;
}
.order__sort:hover {
	color: #00B207;
}
.order__label {
	padding-left: 2px;
	flex: 0 1 25%;
	display: flex;
}
.order__input::placeholder {
	color: #1A1A1A;
}
.order__link {
	transition: opacity 0.3s ease;
	padding-left: 2px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
}
.order__link:hover {
	opacity: 0.7;
}
.order__link:focus-visible,
.order__sort:focus-visible {
	outline: 2px solid #00B207;
	outline-offset: 2px;
	border-radius: 6px;
}
.order__input:focus-visible {
	outline: 1px solid #00B207;
	border-radius: 5px;
}
.order__total-group>* {
	padding: 12px 0;
}
.order__total-group>*:not(:last-child) {
	border-bottom: 1px solid #E6E6E6;
}
.order__group--margin:not(:last-child) {
	margin-bottom: 12px;
}
.order__total-group .order__group--total {
	padding-bottom: 0;
}
.order__link:focus,
.order__sort:focus {
	outline: 2px solid #00B207;
}
.order__group--margin:not(:last-child) {
	margin-bottom: 4px;
}
/* ============================================ */
.method__box>*:not(:last-child) {
	/* margin-bottom: 10px; */
}
.method__title {
	font-size: 20px;
}
.method__title:not(:last-child) {
	margin-bottom: 16px;
}
.method__checkbox {
	display: inline-flex;
	cursor: pointer;
	position: relative;
}
.method__label {
	display: flex;
	align-items: center;
	gap: 5px;
	color: #4d4d4d;
	transition: color 0.3s ease;
}
.method__label:hover {
	color: #00B207;
}
.method__label::before {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 50px;
	border: 1px solid #e6e6e6;
	background-color: transparent;
	transition: border 0.3s ease;
	flex-shrink: 0;
	align-self: flex-start;
}
.method__label:hover::before {
	border: 1px solid #00B207;
}
.method__input {
	width: auto;
	width: 0;
	height: 0;
	opacity: 0;
}
.method__input:checked + .method__label::before {
	content: "";
	color: #00B207;
	border: 1px solid #00B207;
	align-items: center;
	justify-content: center;
	display: flex;
}
.method__input:focus-visible + .method__label {
	outline: 2px solid #00B207;
	outline-offset: 2px;
	border-radius: 6px;
	color: #00B207;
}
.method__label::after {
	content: "";
	width: 12px;
	height: 12px;
	border-radius: 50px;
	transition: background-color 0.3s ease;
	position: absolute;
	left: 4px;
	top: 4px;
}
.method__input:checked + .method__label::after {
	background-color: #00B207;
}